<h2>Registrace</h2>
<form action="/register" method="POST" class="formular-reg" id="formular-reg" >
    <div>
        <input type="email" name="email" id="email" placeholder="e-mail" required>
    </div>
    <div>
        <input type="text" name="jmeno" id="jmeno" placeholder="jméno" required>
    </div>
    <div>
        <input type="text" name="prijmeni" id="prijmeni" placeholder="příjmení" required>
    </div>
    <div>
        <input type="password" name="password" id="password" placeholder="heslo" required>
    </div>
    
    <button type="submit" class="form-submit">
        <h4>Registrovat</h4>
    </button>
</form>

<a href="/login">Login</a>