<% mealCoverClass = locals.large ? 'meal-cover-large' : '' %>
<% mealGridClass = locals.large ? 'meal-grid-large' : '' %>
<div class="meal-grid <%= mealGridClass %>">
  <% meals.forEach(meal => { %>
    <a href="/meals/<%= meal.id %>">
      <img class="meal-cover <%= mealCoverClass %>" src="<%= meal.coverImagePath %>">
    </a>
  <% }) %>
</div>