<h2>Nové jídlo</h2>
<form action="/meals" method="POST" enctype="multipart/form-data">
  <%- include("_form") %>
  <div class="form-section">
    <a href="/meals" class="form-cancel">Zrušit</a>
    <button type="submit" class="form-submit">Přidat</button>
  </div>  
</form>