<div class="form-section">
    <label>Typ strávníka</label>
    <input type="text" name="name" value="<%= userType.name %>">
</div>
<div class="form-section">
    <label>Cena za porci</label>
    <input type="number" name="price" value="<%= userType.price %>">
</div>