<h2>Nový typ Strávníka</h2>
<form action="/userTypes" method="POST">
  <%- include("_form") %>
  <a href="/userTypes" class="form-cancel">Zrušit</a>
  <button type="submit" class="form-submit">Přidat</button>
</form>