<h2>Informace o <%= userType.name %></h2>
<div class="form-section">Cena za porci jídla: <%= userType.price %> Kč</div>
<div class="form-section">
    <a href="/userTypes/<%= userType.id %>/edit">Upravit</a>
</div>
<%- include("../partials/deleteForm", { url: `/userTypes/${userType.id}` }) %>
