<h2><%= userType.name %></h2>
<div>Cena za porci jídla: <%= userType.price %> Kč</div>
<a href="/userTypes/<%= userType.id %>/edit">Upravit</a>
<br><br><br>
<%- include("../partials/deleteForm", { url: `/userTypes/${userType.id}` }) %>