<h2>Upravit typ strávníka</h2>
<form action="/userTypes/<%= userType.id %>?_method=PUT" method="POST">
  <%- include("_form") %>
  <a href="/userTypes/<%= userType.id %>">Zrušit</a>
  <button type="submit">Upravit</button>
</form>